.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out;
}

.fade-out {
    animation: fade-out 300ms ease-in-out;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }

}